<div class="col-md-12">
  <div class="film">
    <%= link_to("Add a film", new_film_path, class: "btn btn-primary pull-right")%>
  </div>
  <br>
  <table class="table table-striped table-inverse">
    <thead>
      <tr>
        <td>#</td>
        <td>Movie</td>
        <td>Main Cast</td>
        <td>Creator</td>
      </tr>
    </thead>
    <tbody>
      <% @films.each do |film| %>
      <tr>
        <th scope="row"><%= film.id %></th>
        <td><%= link_to(film.title, film_path(film)) %></td>
        <td><%= film.description %></td>
        <td><%= film.user.email%></td>
        <td>
          <% if current_user && current_user == film.user %>
            <%= link_to("Edit", edit_film_path(film), class: "btn btn-sm btn-default")%>
            <%= link_to("Delete", film_path(film),    class: "btn btn-sm btn-default",
                        method: :delete, data: { confirm: "Are you sure?" } )%>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
